html, body{
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    height: 100%;

        
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(https://cdn.magicdecor.in/com/2023/02/30001328/image-1681372718-2941.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#table {
    height: 320px;
    width: 400px;
        /* 1. Делаем фон полупрозрачным (белый с прозрачностью 0.3) */
    background-color: rgba(255, 255, 255, 0.2); 
    
        /* 2. Размываем то, что ЗА блоком */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
    
        /* Дополнительные стили для красоты */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая светлая рамка */
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Мягкая тень */
}